@page "/challengedayone"
@inject HttpClient _client


<h3 class="text-center">--- Day 1: Report Repair ---</h3>


<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group-sm">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Input</p>
                </blockquote>
                <textarea rows="30" @bind="_loadedFile" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-sm-5">
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <button type="button" @onclick="@(async () => await ShowResults())" class="btn btn-success">Run</button>
                </div>
                <div class="col-sm-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                        </div>
                        <input @bind-value="sumNumber" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
            <br />
            <ResultsDayOne @ref="childOne" Result="@_partOne" ResultNumber="1"></ResultsDayOne>
            <ResultsDayOne @ref="childTwo" Result="@_partTwo" ResultNumber="2"></ResultsDayOne>
            @if (invalid)
            {
                <div class="alert alert-danger">
                    <strong>Check out!</strong> Input data is not valid.
                </div>
            }

        </div>
    </div>
</div>
<br />
<br />
